
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @CustomHelper.Image(src:"/d:img.jpg",alt:"this an aleteranitive text")
        <br>
        @Html.Img(src: "/d:img.jpg", alt: "this an aleteranitive text")
        <br>
        @Html.ImgTag(src:"",alt:"New with tag builder")
    </div>
</body>
</html>
